@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #fff;
    --bg-foreground: #000;
}

body {
    color: rgb(--bg-foreground);
    background: var(--bg);
    -webkit-font-smoothing: antialiased;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
